WANDER_CLERK_PUBLISHABLE_KEY = pk_live_Y2xlcmsuZ2V0cmVjLm1lJA
WANDER_POSTHOG_PROJECT_TOKEN =
WANDER_SUPABASE_PUBLISHABLE_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1Z210bGd1ZnJobHh3Zmt1bWh3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0MjcxNjEsImV4cCI6MjA5NjAwMzE2MX0.O0HUcTUaAV1aq3UBusp1ggQNvIgS_e2NEVYtHW6hnwo

#include? "LocalAuth.xcconfig"
